<p id="notice"><%= notice %></p>

<p>
  <strong>Tipoelemento nombre:</strong>
  <%= @tipo_elemento.tipoElemento_nombre %>
</p>

<%= link_to 'Edit', edit_tipo_elemento_path(@tipo_elemento) %> |
<%= link_to 'Back', tipo_elementos_path %>
